.newsLetter {
  height: 40vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsLetterTitle {
  font-size: 60px;
  margin-bottom: 20px;
}

.newsLetterDesc {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.newsLetterInputContainer {
  width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.newsLetterInput {
  border: none;
  flex: 8;
  padding-left: 20px;
}

.newsLetterButton {
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
}
